.FloatTab {
        padding: 0 10px;
    }
    .FloatTab-left{
       position:fixed;
       left:0px;
       top:60px;
    }
    .FloatTab-right {
        position: fixed;
        right: 0px;
        top: 60px;
    }
    .FloatTabPage {
        width: 265px;
        min-height: 120px;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.86);
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-size: 12px;
        padding-bottom: 10px;
    }
    .FloatTabSearch {
        width: 265px;
        min-height: 30px;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.86);
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-size: 12px;
    }
        .FloatTabSearch  .form-control {
            border: 0px solid #cccccc;
        }
        .FloatTabSearch .btn {
            border: 0px solid transparent;
            font-size: 12.5px;
        }
    .FloatTabPage:hover{
        background-color: rgba(255, 255, 255, 0.95);
    }
    .FloatTabPage > .title {
        font-size: 13px;
        font-weight: 600;
        display: inline-block;
        margin: 10px 20px 10px 20px;
    }
    .FloatTabPage > .titleSecond {
        font-size: 12px;
        display: inline-block;
        margin-left: 18px;
    }
    .FloatTabPage > .titleThird {
        font-size: 12px;
        display: inline-block;
        margin-left: 17px;
    }
    .FloatTabPage > .number1 {
        font-size: 14px;
        color:#2a9037;
        display: inline-block;
        margin-left: 5px;
    }
    .FloatTabPage > .number2 {
        font-size: 12px;
        color: #2a9037;
        display: inline-block;
        margin-left: 5px;
    }
    .FloatTabPage > .line {
        width: 100%;
        height: 1px;
        background-color: #c8e49d;
        display: block;
    }